aio-timers==0.0.1
aiohttp==3.7.4
altair==4.1.0
altair-data-server==0.4.1
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==20.1.0
async-generator==1.10
async-timeout==3.0.1
atari-py==0.2.6
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
black==20.8b1
bleach==3.2.1
boto3==1.16.39
botocore==1.19.39
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cloudpickle==1.2.2
colorama==0.4.4
contextlib2==0.6.0.post1
coverage==5.3.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
discord.py==1.6.0
distlib==0.3.1
docopt==0.6.2
emoji==1.2.0
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
future==0.18.2
gitdb==4.0.5
GitPython==3.1.11
google==3.0.0
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.27.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
gspread==3.6.0
gunicorn==20.0.4
gym==0.14.0
-e git+https://github.com/abaisero/gym-gridverse.git@06650cac2a259419ea1d2c9e7f17b55edffb4935#egg=gym_gridverse
-e git+https://github.com/kevslinger/gym-pomdps.git@be905ab25729c16a863f32b285fca194a6517c6a#egg=gym_pomdps
-e git+https://github.com/kevslinger/HousePointsAnalytics.git@323cf379604bc348e37c64d5fd0892492ec142d3#egg=HousePointsAnalytics
httplib2==0.19.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
importlib-metadata==3.7.0
indextools==0.1.0
iniconfig==1.1.1
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.6.2
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.1
json5==0.9.5
jsonpickle==1.4.2
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyterlab==2.2.8
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
lxml==4.6.2
Mako==1.1.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mistune==0.8.4
more-itertools==8.7.0
multidict==5.1.0
munch==2.5.0
mypy-extensions==0.4.3
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
nltk==3.5
notebook==6.1.6
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.1.0
packaging==20.9
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.1
pathspec==0.8.1
pdf2image==1.14.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.1
pluggy==0.13.1
ply==3.11
portpicker==1.3.1
praw==7.2.0
prawcore==2.0.0
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.14.0
ptyprocess==0.7.0
py==1.10.0
py-cpuinfo==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pygame==2.0.1
pyglet==1.3.2
Pygments==2.7.3
pymongo==3.11.2
pyparsing==2.4.7
PyPDF2==1.26.0
pyrsistent==0.17.3
pytest==6.2.1
pytest-cov==2.10.1
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2021.1
PyYAML==5.3.1
pyzmq==20.0.0
qtconsole==5.0.1
QtPy==1.9.0
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
-e git+https://github.com/abaisero/rl-parsers.git@553306389d9329b2cb3a1e991e66551617760ecd#egg=rl_parsers
rsa==4.7.2
s3transfer==0.3.3
sacred==0.8.2
schema==0.7.4
scipy==1.5.2
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
smmap==3.0.4
soupsieve==2.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
toml==0.10.2
toolz==0.11.1
torch==1.7.1
tornado==6.1
tqdm==4.54.1
traitlets==5.0.5
typed-ast==1.4.1
typing-extensions==3.7.4.3
update-checker==0.18.0
uritemplate==3.0.1
urllib3==1.26.3
vega-datasets==0.9.0
virtualenv==20.2.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
yarl==1.6.3
zipp==3.4.0
