aiohttp==3.9.0
black==24.10.0
dateparser==1.2.0
emoji==2.12.1
geopy==2.4.1
google==3.0.0
google_api_python_client==2.151.0
gspread==6.1.2
httplib2==0.22.0
nextcord==2.6.0
oauth2client==4.1.3
psycopg2-binary==2.9.10
python-dotenv==1.0.1
SQLAlchemy==2.0.32